# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr

# Local environment variables and overrides
.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Secret keys and key certificates
*.pem
*.key
*.cert
*.p12
*.pfx

# OAuth & API service credentials
credentials.json
client_secret*.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
